h1 {display:none}
header#header {}
header ul {height:50px}
header li {height:30px; width:300px; display:inline; margin:20px; position:relative; top:10px}
.luffyImg {height:50px; widhg:50px;}


div.body{height:100%}

/*로그인*/
div.divlLogin {background-color:#C53C3E}

div.divLoginImg {text-align:center; height:80%}
.luffyImg {height:100%}

div.divLoginBtn {text-align:center; height:20%}
.loginBtn {height:30%; width:400px; min-height:50px}

/* div.main {height:700px; background-image: url("../img/luffy.png") ; opacity:0.1} */
div.main {height:800px;}

/*react 예제  */
section.reactExamTop {height:35px}
section.reactExamTop > input {width: 300px; height:30px}
section.reactExamTop > button {height:30px; margin-left:5px}

section.reactList {height:100%; overflow-y:scroll}
.reactListNav{text-align: center;}

table td {border:1px solid black; height:40px; text-align:center}



/* 게시판 */
p.btnAddContent {text-align:right; margin-right:10px;}

div.pageNav {text-align:center}

/*jwSpace*/
div.jwSpace {}
div.jwSpace >.title {background-color:#FCE8E9; height:300px; padding-top:30px}
div.jwSpace >.title > p {text-align:center}
div.jwSpace >.title > p > .bpTitle {color:#fff; font-size:18px; font-family: 'Abril Fatface', cursive;}
div.jwSpace >.title > .bpImg {margin-top:80px;}
div.jwSpace >.title > .bpImg > .titleImg {width:100%;}


footer#footer {height:50px; background-color:#E0E0E0;}

