h1 {display:none}
header#header {}
header ul {height:50px}
header li {height:30px; width:300px; display:inline; margin:20px; position:relative; top:10px}
.luffyImg {height:50px; widhg:50px;}


div.body{height:100%}

/*로그인*/
div.divlLogin {background-color:#C53C3E}

div.divLoginImg {text-align:center; height:80%}
.luffyImg {height:100%}

div.divLoginBtn {text-align:center; height:20%}
.loginBtn {height:30%; width:400px; min-height:50px}

/* div.main {height:700px; background-image: url("../img/luffy.png") ; opacity:0.1} */
div.main {height:800px;}

/*react 예제  */
section.reactExamTop {height:35px}
section.reactExamTop > input {width: 300px; height:30px}
section.reactExamTop > button {height:30px; margin-left:5px}

section.reactList {height:100%; overflow-y:scroll}
.reactListNav{text-align: center;}

table td {border:1px solid black; height:40px; text-align:center}



/* 게시판 */
p.btnAddContent {text-align:right; margin-right:10px;}

div.pageNav {text-align:center}

/*jwSpace*/
div.jwSpace {}
div.jwSpace >.title {background-color:#FCE8E9; height:auto; padding-top:40px}
div.jwSpace >.title > p {text-align:center}
div.jwSpace >.title > p > .bpTitle {color:#fff; font-size:18px; font-family: 'Abril Fatface', cursive;}
div.jwSpace >.title > .bpImg {margin-top:60px;}
div.jwSpace >.title > .bpImg > .titleImg {width:100%;}
div.jwSpace >.main {padding-top:5px; text-align:center; margin-top:30px; height:auto}
div.jwSpace >.main > p {margin-bottom:20px}
div.jwSpace >.main > p > span {font-family: 'Chelsea Market', cursive; font-size:22px}
div.jwSpace >.main > div > span {font-family: 'Jeju Hallasan', serif;}
div.jwSpace >.main > div > .name {font-size:21px}
div.jwSpace >.main > div > .heartImg {margin-left:10px; margin-right:10px; height: 20px; width:20px}
div.jwSpace >.main > div > .content {font-family: 'Nanum Brush Script', serif; margin-top:10px; font-size:20px}
div.jwSpace >.main > div > .date {font-family: 'Pompiere', cursive; font-size:35px}
div.jwSpace >.main > div > .time {font-family: 'Pompiere', cursive; font-size:25px}
div.jwSpace >.main > div > .place {font-family: 'Jeju Gothic', serif; font-size:17px}
div.jwSpace >.space {padding:10px; text-align:center}
div.jwSpace >.space > .mapImg {width:100%;}
div.jwSpace >.space > p {margin-top:10px}
div.jwSpace >.space > p > .date {font-family: 'Jeju Gothic', serif; font-size:15px; color:#BF360C}
div.jwSpace >.space > p > .place {font-family: 'Jeju Gothic', serif; font-size:15px}
div.jwSpace >.space > p > .address {font-family: 'Jeju Gothic', serif; font-size:10px; color:#9E9E9E}
div.jwSpace >.space > p > .tel {font-family: 'Jeju Gothic', serif; font-size:10px; color:#9E9E9E}


footer#footer {height:50px; background-color:#E0E0E0;}

